.timer-display
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-work
{
    color: #f93831;
}

.color-rest
{
    color: #4aec8c;
}

.time
{
    font-size: 4rem;
    width: 80px;
}

.time-hours
{
    width: 40px;
    font-size: 4rem;
}

.one-hour
{
    position: relative;
    left: 18px;
}

.dots
{
    font-size: 3rem;
}